body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

@keyframes upAndDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 4%, 0);
    }
    100% {
        transform: translate3d(0, 0%, 0);
    }
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    transition: all .3s ease-in-out;
    animation: 2s ease-in-out upAndDown infinite;
}

h1:hover {
    transform: translate3d(0px, -6px, 0px);
}

#headline {
    margin-left: 70px;
}

#next_btn {
    font-family: Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin: 50px auto auto;
    /*margin-right:15%;*/
    height: 43px;
    width: 144px;
    float: right;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    transition: all .3s ease-in-out;
}

#next_btn:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.12);
    transform: translate3d(0px, -1px, 0px);
}

#footer {
    margin-top: 200px;
}

a:link {
    color: black;
    font-size: medium;
}

a:visited {
    color: black;
}