* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
}

html,
body {
  background: #2c3e50;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.v-w-h {
  width: 100vw;
  height: 100vh;
}

.w-d {
  width: 100%;
  height: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

body {
  /* see : https://www.codespeedy.com/snowfall-effect-in-background-using-css/*/
  background-image: url("pic/snow1.png"), url("pic/snow2.png"),
    url("pic/snow3.png");
  animation: snow 20s linear infinite;
}
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
